html, body
{
	width:  100%;
	height: 100%;
	margin: 0px;
	overflow:hidden;
}
#appCanvas
{
	z-index:1;
}
#refreshButton
{
	position:absolute;
	top:50%;
	left:45%;
	visibility:hidden;
}
#getBotInfo
{
	position:absolute;
	top:10px;
	left:0.25%;
	visibility:hidden;
}
#getTouchSensor
{
	position:absolute;
	top:50px;
	left:0.25%;
	visibility:hidden;
}
#getLightSensor
{
	position:absolute;
	top:90px;
	left:0.25%;
	visibility:hidden;
}
.remote_bot_button
{
	z-index:2;
	-moz-box-shadow:inset 0px -1px 0px 0px #000000;
	-webkit-box-shadow:inset 0px -1px 0px 0px #000000;
	box-shadow:inset 0px -1px 0px 0px #000000;
	background:-webkit-gradient( linear, left top, left bottom, color-stop( 0.05, #449df5 ), color-stop( 1, #1e7ad6 ) );
	background:-moz-linear-gradient( center top, #449df5 5%, #1e7ad6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#449df5', endColorstr='#1e7ad6' );
	background-color:#449df5;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:36px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 16px;
	text-decoration:none;
	text-shadow:-1px 1px 0px #030303;
}
.remote_bot_button:hover
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop( 0.05, #1e7ad6 ), color-stop( 1, #449df5 ) );
	background:-moz-linear-gradient( center top, #1e7ad6 5%, #449df5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e7ad6', endColorstr='#449df5');
	background-color:#1e7ad6;
}
.remote_bot_button:active
{
	position:relative;
	top:1px;
}